.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-logo {
  width: 500px;
  height: auto;
  padding-right: 40px;
  display: flex;

}

.phone {
   margin-left: -40%;

}

.d-inline {
  margin-left: -110px;
}

.d-call {
  margin-left: -40px;
}

.imginfo{
  width: 250px;
  height: 50px;
  border-radius: 5px;
  margin-top: 2px;
}
.imgend{
  text-align: end;
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;

}

.carousel-caption h3 {
   font-size: 45px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-top: 25px;
}

.para {
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.set {
    color: #737a7f;
    display: block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-bottom: 10px;
    text-transform: uppercase;

}

.text-justify {
  text-align: justify;
}

p {

  font-size: 15px;
}

.custom-column {
  width: 70%;
}

.cal {
  padding-block: 50px;

}